.article-inner.is-blog {
  background: url(../images/paper_tile_yellow.jpg) center, $arc-yellow;
  padding-top: 2rem ;
}

.blog-frame, .contact-frame,
.mail-subscription-form {
  width:calc(100% - 5rem);
  max-width: 600px;
  display: inline-block;
}


.blog-frame, .contact-frame {
  border-style: double;
  border-width: 5px 0;
  margin: 2rem
}

.mail-subscription-form  {
  .form, .button {
    border: solid 2px $arc-red;
  }
  .button {
    background: $arc-red;
    color: $arc-yellow;
  }
}

.post-frame {
  margin: 0 0 1rem;
  display: flex;
}
.blog-frame .post-thumb {
  max-width:50%;
}
.blog-frame .title-image {
  max-width:320px
}
.wp-post-image {
  height:auto;
}

.post-content {
  text-align: left;
  margin-left: 1rem;
  flex: 1;
  .subtitle {
    border-bottom: 1px solid;
  }
}

.sidebar {
  .post-frame {
    flex-direction: column;
    align-items: center;
  }
  .post-content {
    text-align: center;
    width: 100%;
    max-width: 300px;
  }
  .post-thumb {
    max-width:100%;
  }
}

.contact-content {
  padding: 1rem;
}

.contact-content:not(:last-of-type), .blog-frame .index-title {
  border-bottom: 1px solid;
}
