.footer {
 background: url(../images/paper_tile_yellow.jpg) center, $arc-yellow;
  text-align: center;
  padding: 1rem;
  height: 50px;
}

.footer a:not(.icon) {
  color:inherit;
  border-color: $arc-red;
}
