.header-splash {
  background: url('../images/arc-leather-book-holding-page.jpg') center/cover;
}

.hero-footer {
  position: relative;
}

.header-item img {
  max-height: 40px;
}

.article-inner.is-intro {
  border-style: double;
  border-width: 5px 0;
  font-size: 1.5rem;
}


.header-toggle:hover {
    background: darken($arc-red, 5%);
}

.is-active.header-toggle span {
  background: $arc-yellow;
}

.hero.is-fullheight .tabs a {
  padding: 0;
}
.hero.is-fullheight .tabs li {
  margin: 15px 0;
  padding: 0 20px

}

//the pointer
.nav-pointer {
  position: absolute;
  height: 150px;
  width: 150px;
  bottom:150%;
  left: calc(50% - 275px);
  animation: hover .5s cubic-bezier(.39,.58,.57,1) infinite alternate;
  @include jr-size('phoneOnly') {
    display: none;
  }
}

@keyframes hover {
  from {
    transform: rotate(-20deg) translateY(60px);
  }
  to {
    transform: rotate(-20deg) translateY(0);
  }
}

