//maqking the map inactive until user has hovered for a while;

.gm-style {
//  pointer-events: none;
}



.section-map {
  height:400px;
  background: url('../images/g-map.jpg') center/cover;
  border-style:solid;
  border-width: 1px 0;
}
