.article-inner.is-menu {

  margin-bottom: 5rem;

  @include jr-size('tablet') {
    background: url(../images/moleskine.jpg) left 0/144% no-repeat;
    height: 113vw;
    margin-bottom: 0;
  }
  @include jr-size('screen-hd') {
    background: url(../images/moleskine.jpg) center 0/1300px no-repeat;
    height: 1000px;
  }

}

ul.menu-tabs {
  border-bottom: 2px solid #988682;

  font-size: 1.2rem;
  flex-wrap: wrap;
  @include jr-size('tablet') {
     padding: 0.5rem;
  }
}

.tabs li.tab-food-menu {
  flex: 1 1 125px;
  margin-left: 0;
  color: #988682;
}

li.tab-food-menu a:hover, li.tab-food-menu.is-active a {
  text-decoration: none;
  color: $arc-red;
}

.menu-frame {
  @include jr-size('tablet') {
    padding: 3rem 8vw;
    width: 75vw;
    margin-left: 1vw;
  }
  @include jr-size('screen-hd') {
    padding: 2rem;
    width: auto;
    margin: 0.5rem auto;
  }
}

.section-food-menu {
  display:none;
  overflow-x: auto;
  @include jr-size('tablet') {
    height: 85vw;

  }
  @include jr-size('screen-hd') {
    height: 750px;
  }

}

.paginated {
  @include jr-size('screen-hd') {
   display: none;
  }
}


.menu-page {
  margin: 0 auto;
  max-width: 480px;
  padding: 0 30px;
  color:#222;
  h2,h3,h4 {
    display: inline-block;
    margin-bottom: 0;
  }
  p {
    line-height: 1.7;
  }
  p + h4 {
    margin-top:1em;
  }
  strong {
    float: right;
    font-weight:bold;
  }
  @include jr-size('tablet') {
    max-width: none;
    display: none;
//    margin: 0 40px;
  }
  @include jr-size('screen-hd') {
    display: block;
  }
}

//setting up paginateception
.section-food-menu, .paginated, .menu-page,  {
  &.is-active {
    display:block;
  }
}

.page-nav {
  display: none;
  @include jr-size('tablet') {
    display: block;
  }
}

.btn-next,
.btn-prev {
  color: #988682;
  position: absolute;
  bottom: -4rem;
  font-size: 1.5rem;
  cursor: pointer;
  &:hover {
    color: $arc-red;
  }
}

.btn-next {
  bottom: 45%;
  right: -6.5rem;
}

.btn-prev {
  bottom: 35%;
  right: -6.5rem;
  @include jr-size('screen-hd') {
    bottom: 45%;
    right: auto;
    left: -6.5rem;
  }
}

@include jr-size('phoneOnly') {
  .menu-single {
    height: 0;
    overflow: hidden;
  }

  .menu-single-title {
    margin-top: 40px;
    width: 100%;
    cursor: pointer;
    position: relative;

    &::after {
      content: "◁";
      position: absolute;
      right: -20px;
      top:0;
    }

    &.is-active {
      &::after {
        content: "▽";
      }
      + .menu-single {
        height: auto;
      }
    }

  }

}
