.article-inner.is-menu {


  text-align: center;
  margin-bottom: 2rem;

  @include jr-size('tablet') {
    background: url(../images/moleskine.jpg) left 0/150% no-repeat;
    text-align: left;
    height: 1030px;

  }
  @include jr-size('screen') {
    background: url(../images/moleskine.jpg) center 0/1300px no-repeat;
  }

}

ul.menu-tabs {
  border-bottom: 2px solid $arc-red;
  padding: 1rem;
  font-size: 1.7rem;
  flex-wrap: wrap;
}

.tabs li.tab-food-menu {
  flex: 1 1 200px;
  margin-left: 0;
}

.menu-frame {
  @include jr-size('tablet') {
    padding: 2rem 8vw;
    width: 82vw;
  }
  @include jr-size('screen') {
    padding: 2rem;
    width: auto;
  }
}

.section-food-menu {
   display:none;

  @include jr-size('tablet') {
    height: 80vw;
    overflow-x: auto;
  }
  @include jr-size('screen') {
    height: 750px;
  }

}

.paginated {
  @include jr-size('screen') {
   display: none;
  }
}


.menu-page {
  padding: 2rem;
  display: none;
  h2,h3,h4 {
    border-bottom: 1px solid;
    display: inline-block;
  }
  p {
    line-height: 1.7;
  }
  strong {
    float: right;
  }
  @include jr-size('screen') {
    display: block;
  }
}


//setting up paginateception
.section-food-menu, .paginated, .menu-page,  {
  &.is-active {
    display:block;
  }
}

.menu-page p + h4 {
  margin-top:1em;
}

.btn-next,
.btn-prev {
  position: absolute;
  bottom: -1rem;
  font-size: 2rem;
  &:hover {
    border-bottom: 1px solid $arc-red;
  }

  @include jr-size('tablet') {
    bottom: 1rem;
  }

}

.btn-next {
  right: 20%;
}
.btn-prev {
  left: 20%;
}
