body {
  background: url(../images/paper_tile_yellow.jpg) center, $arc-yellow;
  color: $arc-red;
  font-size: 16px;
}

.title-bar {
  background: $arc-red;
  color: $arc-yellow;
  text-align: center;

  .title {
    color: $arc-yellow;
  }
}

.tabs {
  a {
    color: inherit;
    border: none;
  }
  a:hover, li.is-active a {
    color: inherit;
    text-decoration: underline;
  }
}


.container {
  padding: 1rem;
}

.has-frame {
  li:nth-last-child(n+2),
  .column:nth-last-child(n+2) {
    border-right: solid 2px;
  }

}
