body {
  background: url(../images/paper_tile_yellow.jpg) center, $arc-yellow;
  color: $arc-red;
  font-size: 16px;
  min-height: 100vh;
  overflow-x: hidden;
}

.title-bar {
  background: $arc-red;
  color: $arc-yellow;
  text-align: center;

  .title {
    padding: 1rem;
  }
}

.tabs {
  a {
    color: inherit;
    border: none;
  }
  a:hover, li.is-active a {
    color: inherit;
    text-decoration: underline;
  }
}

@include jr-size('tablet') {
  .has-frame {
    li:nth-last-child(n+2) {
      border-right: solid 2px;
    }
    .column:nth-last-child(n+2) {
      border-right: double 5px;
    }

  }
}

.article-inner {
  margin: 2rem auto;
  padding: 1rem 0.5rem;
}

/*.wp-post-image {
  max-width: 100%;
}*/


