@font-face {
  font-family: "Miller";
  src: url(../font/Miller.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Miller";
  src: url(../font/Miller-italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Miller";
  src: url(../font/Miller-bold.ttf);
  font-weight: bold;
  font-style: normal;
}

///*@font-face {
//  font-family: "Futura";
//  src: url(../font/Futura-CondensedExtraBold.ttf);
//  font-weight: bold;
//  font-style: italic;
//}*/

$arc-font : "Miller", Georgia, serif;


body, button, input, select, textarea, .title, .subtitle, a {
  font-family: $arc-font;
}

.title, .subtitle, a {
  color: inherit;
}
.title, .subtitle, .tabs a {
  text-transform: uppercase;
}

a.is-pulled-right {
  margin-top: -15px;
}


///*h1 {
//  font-size: 2.8em;
//}
//h2 {
//  font-size: 2em;
//}
//h3 {
//  font-size: 1.4em;
//}
//h4 {
//  font-size: 1em;
//}*/
